body{
    background-color: #ff97d2;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

html {
    overflow: hidden;
}

#status {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(202, 252, 255);
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
  transition: opacity 1s ease-out;
}

.slots {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 2px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
}

.slot {
    width: 80px;
    height: 80px;
    border: 3px solid rgb(202, 252, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    flex-shrink: 0;
}

.tile {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #ff97d2;
  border: 3px solid rgb(202, 252, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  color: white;
  font-size: 50px;
  font-weight: bold;
  user-select: none;
}

.tile:active {
  cursor: grabbing;
}

#greeting{
  color: rgb(202, 252, 255);
  font-size: 60px;
  position: absolute;
  top: 200px;
  left: 775px;
  opacity: 0;
  transition: opacity .7s ease-in;
}

#finalMessage{
  color: rgb(202, 252, 255);
  font-size: 60px;
  position: absolute;
  top: 300px;
  left: 720px;
  opacity: 0;
  transition: opacity .7s ease-in;
}

#qe{
  color: rgb(202, 252, 255);
  font-size: 80px;
  position: absolute;
  top: 367px;
  left: 1340px;
  opacity: 0;
  transition: opacity .5s ease-in; 
}
