body{
    background-color: #ff97d2;
}

.tile {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ff97d2;
  /*border: 2px solid #333;*/
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.slot {
  width: 100px;
  height: 100px;
  border: 4px solid #74e3ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

